<section class="login-form">
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="15px"
    #loginForm="ngForm"
    (ngSubmit)="onSubmit(loginForm)"
  >

    <mat-form-field>
      <input
        type="email"
        matInput
        placeholder="Your Email"
        ngModel
        name="email"
        email
        required
        #loginFormEmail="ngModel"
      >
      <mat-error *ngIf="loginFormEmail.hasError('required')">Email is required</mat-error>
      <mat-error *ngIf="!loginFormEmail.hasError('required')">Must be a valid email address</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        type="password"
        matInput
        placeholder="Your Password"
        ngModel
        name="password"
        required
        #loginFormPassword="ngModel"
      >
      <mat-error *ngIf="loginFormPassword.hasError('required')">Password is required</mat-error>
    </mat-form-field>

    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="loginForm.invalid"
    >Submit</button>

  </form>
</section>

