<mat-nav-list>
  <a mat-list-item routerLink="signup" (click)="onCloseSidenav()" *ngIf="!isAuth">
    <mat-icon>person_add</mat-icon>
    <span class="navlink-text">Signup</span>
  </a>
  <a mat-list-item routerLink="login" (click)="onCloseSidenav()" *ngIf="!isAuth">
    <mat-icon>input</mat-icon>
    <span class="navlink-text">Login</span>
  </a>
  <a mat-list-item routerLink="training" (click)="onCloseSidenav()" *ngIf="isAuth">
    <mat-icon>slow_motion_video</mat-icon>
    <span class="navlink-text">Training</span>
  </a>
  <mat-list-item>
    <button mat-icon-button (click)="onLogout()" *ngIf="isAuth">
      <mat-icon>eject</mat-icon>
      <span class="navlink-text">Log Out</span>
    </button>
  </mat-list-item>
</mat-nav-list>
