<mat-nav-list>
  <a mat-list-item routerLink="/signup" (click)="onCloseSidenav()">
    <mat-icon>person_add</mat-icon>
    <span class="navlink-text">Signup</span>
  </a>
  <a mat-list-item routerLink="/login" (click)="onCloseSidenav()">
    <mat-icon>input</mat-icon>
    <span class="navlink-text">Login</span>
  </a>
  <a mat-list-item routerLink="/training" (click)="onCloseSidenav()">
    <mat-icon>slow_motion_video</mat-icon>
    <span class="navlink-text">Training</span>
  </a>
  <mat-list-item>
    <button mat-icon-button (click)="onCloseSidenav()">
      <mat-icon>eject</mat-icon>
      <span class="navlink-text">Log Out</span>
    </button>
  </mat-list-item>
</mat-nav-list>
