<mat-toolbar color="primary">
  <button mat-icon-button (click)="onToggleSidenav()"  fxHide.gt-xs>
    <mat-icon>menu</mat-icon>
  </button>
  <div>
    <a routerLink="">LOGO</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li><a routerLink="signup" *ngIf="!isAuth">Signup</a></li>
      <li><a routerLink="login" *ngIf="!isAuth">Login</a></li>
      <li><a routerLink="training" *ngIf="isAuth">Training</a></li>
      <li><a (click)="onLogout()" *ngIf="isAuth">Logout</a></li>
    </ul>
  </div>
</mat-toolbar>
