<section class="signup-form">
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="15px"
    #signupForm="ngForm"
    (ngSubmit)="onSubmit(signupForm)"
  >

    <mat-form-field>
      <input
        type="email"
        matInput
        placeholder="Your Email"
        ngModel
        name="email"
        email
        required
        #signupFormEmail="ngModel"
      >
      <mat-error *ngIf="signupFormEmail.hasError('required')">Email is required</mat-error>
      <mat-error *ngIf="!signupFormEmail.hasError('required')">Must be a valid email address</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        type="password"
        matInput
        placeholder="Your Password"
        ngModel
        name="password"
        minlength="6"
        required
        #signupFormPassword="ngModel"
      >
      <mat-hint *ngIf="signupForm.value.password?.length < 6">Should be at least 6 characters long</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Date of Birth"
        name="birthdate"
        [matDatepicker]="signupBirthdatePicker"
        [max]="maxDate"
      >
      <mat-datepicker-toggle matSuffix [for]="signupBirthdatePicker"></mat-datepicker-toggle>
      <mat-datepicker #signupBirthdatePicker></mat-datepicker>
    </mat-form-field>

    <mat-checkbox
      name="acceptTerms"
      ngModel
      required
      color="primary"
    >
      Agree to Terms and Conditions
    </mat-checkbox>

    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="signupForm.invalid"
    >Submit</button>

  </form>
</section>

